mixin svg-icon(name, size, fill)
	- var size = size || 24;
	- var sprite = "images/icons/svg/sprite/sprite.svg"
	- var prefix = ""

	span.icon(aria-hidden="true")&attributes(attributes)
		svg(viewBox='0 0 ' + size + ' ' + size width=size height=size fill=fill)
			use(xlink:href= sprite + '#' + name)
