/*===========================
	Base styles
===========================*/

@import "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $default-font;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  height: 100%;
}

body {
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  line-height: 1.65;
  font-size: 16px;
  opacity: 1;
}