@import "reset";
@import "base";
@import "fonts";
@import "vars";
@import "media";

body {
  background-color: #313131;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%234a4356' fill-opacity='0.22'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.container {
  max-width: 1160px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.site-header {
  background: #2f4e56; /* Old browsers */
  background: -moz-linear-gradient(top, #2f4e56 1%, #2c3e50 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2f4e56 1%, #2c3e50 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2f4e56 1%, #2c3e50 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f4e56', endColorstr='#2c3e50', GradientType=0); /* IE6-9 */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.header-line {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}

.logotype {
  text-decoration: none;
  font-size: 30px;
  color: $white;
  margin-right: 60px;
}

.logotype-mobile {
  text-decoration: none;
  font-size: 30px;
  color: $white;
  display: none;
  text-align: center;
  padding-top: 12px;
  position: relative;

  &::after {
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #2f4e56;
    background-color: #2f4e56;
  }
}
.site-navigation {
  ul {
    list-style-type: none;
    display: flex;
    li {
      margin-right: 25px;
      margin-right: 25px;
      &:hover {
        a {
          color: $accent-color;
        }
      }
      a {
        text-decoration: none;
        color: $white;
        font-size: 18px;
      }
    }
  }
}

.header-profile {
  display: flex;
  align-items: center;
  margin-left: auto;
  position: relative;
  &::after {
    content: "";
    right: 0;
    top: 0;
    width: 1px;
    height: 80px;
    margin-left: 15px;
    background-color: #2f4e56;
  }

  &::before {
    content: "";
    left: 0;
    top: 0;
    width: 1px;
    height: 80px;
    margin-right: 15px;
    background-color: #2f4e56;
  }

  .profile-avatar {
    width: 30px;
    height: 30px;
    border-radius: 36em;
    margin-right: 8px;
  }
  .profile-stats {
    padding-top: 9px;
    display: inline-flex;
    flex-direction: column;
    .nickname {
      line-height: 7px;
      text-decoration: none;
      color: $white;
    }
    .balance {
      text-decoration: none;
      color: $white;
      font-weight: 700;
      &::after {
        content: "BTC";
        font-size: 12px;
        padding-left: 2px;
      }
    }
  }
}